body {
    background: gainsboro;
}

#buttonBar{
    margin: .5em;
}

.animalBtn{
    margin-left: .5em;
    margin-right: .5em;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.form-control-plaintext{
    width: 25%;
    float: left;
    background-color: white;
}

#animalInput{
    margin-left: .5em;
    margin-right: .5em;
}

header{
    margin-bottom: 1em;
}
